*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

body{
background:#f5f9ff;
color:#222;
overflow-x:hidden;
}

html{
scroll-behavior:smooth;
}

a{
text-decoration:none;
}

ul{
list-style:none;
}
